<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipath.orderflowservice.order.dao.CompanyUserConfigMapper" >
  <resultMap id="BaseResultMap" type="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="OTHER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, user_id, type, value, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.company_user_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.company_user_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
    insert into public.company_user_config (id, company_id, user_id, 
      type, value, remarks)
    values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR}, #{value,jdbcType=OTHER}::jsonb, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
    insert into public.company_user_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=OTHER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

    <insert id="insertSelectiveJsonP" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
        insert into public.company_user_config
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="value != null" >
                value,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                #{value,jdbcType=OTHER}::jsonb,
            </if>
            <if test="remarks != null" >
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelectiveJsonP" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
        update public.company_user_config
        <set >
            <if test="companyId != null" >
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                value = #{value,jdbcType=OTHER}::jsonb,
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
    update public.company_user_config
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=OTHER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
    update public.company_user_config
    set company_id = #{companyId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      value = #{value,jdbcType=OTHER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectOne" resultMap="BaseResultMap" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
    select
    <include refid="Base_Column_List" />
    from public.company_user_config
    where
    company_id = #{companyId,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
    and type = #{type,jdbcType=VARCHAR}
    limit 1
  </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.ipath.orderflowservice.order.dao.bean.CompanyUserConfig" >
        select
        <include refid="Base_Column_List" />
        from public.company_user_config
        where
        company_id = #{companyId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
        and type = #{type,jdbcType=VARCHAR}
        limit 1
    </select>
</mapper>